.botao {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 500px)
  {
    h1{
      margin-left:26%;
    }
  }
  @media (min-width: 700px)
  {
    h1{
      margin-left:38%;
    }
  }
  @media (min-width: 900px)
  {
    h1{
      margin-left:42%;
    }
  }