<h1>Espaço do Vendedor</h1>
<div class="botao"><button pButton type="button" class="p-button-raised p-button-rounded" routerLink="/veichle">VEÍCULOS</button></div>

<div class="botao"><button pButton type="button" class="p-button-raised p-button-rounded p-button-help" routerLink="/client">CLIENTE</button></div>

<div class="botao"><button pButton type="button" class="p-button-raised p-button-rounded" routerLink="/stock">ESTOQUE</button></div>

<div class="botao"><button pButton type="button" class="p-button-raised p-button-rounded p-button-help" routerLink="/sales">VENDAS</button></div>
