<h1>Espaço do Vendedor</h1>
<div class="botao"><button pButton type="button" class="p-button-raised p-button-rounded" >VEÍCULOS</button></div>

<div class="botao"><button pButton type="button" class="p-button-raised p-button-rounded p-button-help" >CLIENTE</button></div>

<div class="botao"><button pButton type="button" class="p-button-raised p-button-rounded" >ESTOQUE</button></div>

<div class="botao"><button pButton type="button" class="p-button-raised p-button-rounded p-button-help" >VENDAS</button></div>
