<div class="row">
  <div class="card green">
    <h2>Monetização</h2>
    <p>Configure a monetização</p>
    <img class="image" src="../../../assets/default.img" alt="money" />
  </div>

  <div class="card blue">
    <h2>Configurações</h2>
    <p>Configure o seu sistema</p>
    <img class="image" src="../../../assets/default.img" alt="settings" />
  </div>

  <div class="card red">
    <h2>Artigos</h2>
    <p>Crie e edite artigos</p>
    <img class="image" src="../../../assets/default.img" alt="article" />
  </div>
</div>
